@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --income: rgb(34, 197, 94);
  --expense: rgb(239, 68, 68);
  --other: rgb(96, 165, 250);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

